__pycache__/
*.py[oc]
*.egg-info/
build/
dist/
wheels/
.venv/
.python-version
.idea/
.vscode/
.DS_Store
tmp/
.wandb/
outputs/
output/
*.ckpt
*.pt
*.safetensors
*.sft
.precomputed/
dataset/.precomputed/
*.so
